*
!app
!bootstrap
!config
!core
!database
!docker/
!public
!resources
!routes
!secrets
!storage
!artisan
!composer.json
!AUTHORS.md
!lang
!LICENSE.md
!LICENSE.txt
!LICENSE
!package.json
!package-lock.json
!webpack.mix.js
!third-party
!.gitignore
!.dockerignore
