*
!app/
!bootstrap/
!config/
!core/
!database/
!docker/
!public/.dockerignore
!public/.htaccess
!public/robots
!public/index.php
!public/favicon.png
!public/third-party/.dockerignore
!resources/
!routes/
!secrets/
!storage/app/.dockerignore
!storage/app/backups/.dockerignore
!storage/app/public/.dockerignore
!storage/app/upload/.dockerignore
!storage/debugbar/.dockerignore
!storage/framework/.dockerignore
!storage/framework/cache/.dockerignore
!storage/framework/cache/data/.dockerignore
!storage/framework/sessions/.dockerignore
!storage/framework/testing/.dockerignore
!storage/framework/views/.dockerignore
!storage/logs/.dockerignore
!artisan
!composer.json
!AUTHORS.md
!lang/
!LICENSE.md
!package.json
!package-lock.json
!webpack.mix.js 
!third-party/.dockerignore
!.gitignore
!.dockerignore
