APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://<your-domain> # example(example.com)
APP_URL_SCHEME=https # http or https

#LOGS
LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#DATABASE
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=oauth2
DB_USERNAME=<your-username>
DB_PASSWORD=<your-password>

REDIS_PASSWORD=<redis-password>
SSH_DIR=<ssh-key-dir>
GIT_CONFIG=<git-config-file>