/** Add custom styles for blade templates **/
@use "@mdi/font";

.notyf__toast {
  font-size: 16px;
  border-radius: 8px;
}
.notyf__toast--success {
  background: #31ac4e;
}
.notyf__toast--error {
  background: #c03e4b;
}

.required::after {
  content: "!";
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  padding: 1px;
}
