@import 'tailwindcss' source(none);
@import "flatpickr";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "sweetalert2/dist/sweetalert2.min.css";
@import "@mdi/font/css/materialdesignicons.css";
@import '@vuepic/vue-datepicker/dist/main.css';
@import "notyf/notyf.min.css";
@import "jodit/es2021/jodit.min.css";

@custom-variant dark (&:where(.dark, .dark *));

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../../core/**/*.blade.php";
@source "../../core/**/*.js";
@source "../../core/**/*.vue";
